force-app/main/default/flows/Auto_Manage_Room_Status_Smart.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Determine_Room_Status</name>
        <label>Determine Room Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Room_to_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Reservation</defaultConnectorLabel>
        <rules>
            <name>Currently_Staying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Check_In_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Check_Out_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Room_to_Occupied</targetReference>
            </connector>
            <label>Currently Staying</label>
        </rules>
        <rules>
            <name>Future_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Check_In_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Room_to_Reserved</targetReference>
            </connector>
            <label>Future Reservation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Manage Room Status – Smart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Manage Room Status – Smart</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Room_to_Available</name>
        <label>Set Room to Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Room__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Room_to_Occupied</name>
        <label>Set Room to Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Room__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Room_to_Reserved</name>
        <label>Set Room to Reserved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Room__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Room_Status</targetReference>
        </connector>
        <object>Reservation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
