force-app/main/default/flows/Auto_Update_Reservation_Payment_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Check_If_Payment_Completed</name>
        <label>Check If Payment Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Mark_Reservation_as_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reservation__r.Total_Payments__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Reservation__r.Total_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Reservation_as_Completed</targetReference>
            </connector>
            <label>Payment Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Update Reservation Payment Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Update Reservation Payment Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Reservation_as_Completed</name>
        <label>Mark Reservation as Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reservation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Reservation_as_Pending</name>
        <label>Mark Reservation as Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reservation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Payment_Completed</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
